{
  "printWidth": 80,
  "tabWidth": 2,
  "semi": true,
  "trailingComma": "all",
  "singleQuote": true,
  "bracketSpacing": true,
  "endOfLine": "lf",
  "objectWrap": "preserve",
  "bracketSameLine": false,
  "arrowParens": "always",
  "singleAttributePerLine": true,
  "experimentalTernaries": false,
  "experimentalOperatorPosition": "end",
  "proseWrap": "always"
}
